body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0, auto;
    padding: 20px;
}
body {
  background-image: url('mouth.png'); /* Substitua pelo caminho correto da imagem */
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
}

h1 {
    text-align: center;
    flex-grow: 1;
    margin: 0;
    font-size: 24px;
}

.carrinho {
  font-weight: bolder;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #00b831;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.carrinho:hover {
  background-color: #0059ff;
}
  

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
}
.lanche{
    color: #000000;
    font-size: 14px;
    margin: 10px 0;
}
.price {
    font-weight: bolder;
    color: #000000;
    font-size: 20px;
    margin: 10px 0;
}

.adicionar-pedido {
    background-color: #00b831;
    color: #000000;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    text-align: center;
    margin-top: auto; 
}

.adicionar-pedido:hover {
    background-color: #0059ff;
}

.menu-barrinha {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .menu-barrinha span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #00b831;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .menu-opcoes {
    position: fixed;
    top: 50px;
    left: 10px;
    display: none;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
  }
  
  .menu-opcoes ul {
    list-style: none;
  }
  
  .menu-opcoes li {
    margin-bottom: 10px;
  }
  
  .menu-opcoes a {
    color: #fff;
    text-decoration: none;
  }
  
  .opcao-1 {
    background-color: #FFC107;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .opcao-2 {
    background-color: #8BC34A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .opcao-3 {
    background-color: #2196F3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
